.list-parent {
    opacity: 0;
    flex-grow: 1;
    top: 0;
    right: auto;
    width: 600px;
    bottom: 0;
    overflow: visible;
    position: absolute;
}

.song-cover-parent {
    opacity: 0;
    scale: 1.5;
}

.score-content-panel {
    opacity: 0;
}